= render 'view/header'
.default-container
  .bread-crumbs
    - breadcrumb :logout
    = breadcrumbs separator: " &rsaquo; "
  .l-container
    = render "shared/mypage_side_bar"
    .l-content
      .background-wrap
        .background-wrap__logout-button
          =link_to destroy_user_session_path, method: :delete do
            ログアウト
= render 'view/footer'