.bottom-image__nav
  = image_tag '/logo_red.svg', class: 'bottom-image__nav__logo'
  = image_tag '/fmarket_logo_white.svg', class: 'bottom-image__nav__app'
  = image_tag '/fmarket_logo_white.svg', class: 'bottom-image__nav__app'