.footer
  .footer__top-content
    .footer__top-content__boxes
      %p.footer__top-content__boxes__p
        メルカリについて
      %ul.footer__top-content__boxes__ul
        %li.footer__top-content__boxes__li-1.footer__top-content__boxes__ul__lists
          %a.footer__top-content__boxes__li-1__a-1
            会社概要（運営会社）
        %li.footer__top-content__boxes__li-2.footer__top-content__boxes__ul__lists
          %a.footer__top-content__boxes__li-2__a-2
            採用情報
        %li.footer__top-content__boxes__li-3.footer__top-content__boxes__ul__lists
          %a.footer__top-content__boxes__li-3__a-3
            プレスリリース
        %li.footer__top-content__boxes__li-4.footer__top-content__boxes__ul__lists
          %a.footer__top-content__boxes__li-4__a-4
            公式ブログ
        %li.footer__top-content__boxes__li-5.footer__top-content__boxes__ul__lists
          %a.footer__top-content__boxes__li-5__a-5
            メルカリロゴ利用ラインガイド
      .footer__top-content__boxes__icons
        %a.footer__top-content__boxes__icons__icon{href: 'https://twitter.com/mercari_jp', target: '_blank'}
          = fa_icon 'twitter', class: 'footer__top-content__boxes__icons__icon__twitter'
        %a.footer__top-content__boxes__icons__icon{href: 'https://www.facebook.com/mercarijp', target: '_blank'}
          = fa_icon 'facebook-square', class: 'footer__top-content__boxes__icons__icon__facebook'
    .footer__top-content__boxes
      %p.footer__top-content__boxes__p
        ヘルプ&amp;ガイド
      %ul.footer__top-content__boxes__ul
        %li.footer__top-content__boxes__ul__lists
          メルカリガイド
        %li.footer__top-content__boxes__ul__lists
          らくらくメルカリ便
        %li.footer__top-content__boxes__ul__lists
          ゆうゆうメルカリ便
        %li.footer__top-content__boxes__ul__lists
          大型メルカリ便
        %li.footer__top-content__boxes__ul__lists
          車体取引ガイド
        %li.footer__top-content__boxes__ul__lists
          メルカリあんしん&#149;あんぜん宣言&#33;
        %li.footer__top-content__boxes__ul__lists
          偽ブランド品撲滅への取り組み
        %li.footer__top-content__boxes__ul__lists
          メルカリボックス
    .footer__top-content__iregular-boxes
      %p.footer__top-content__iregular-boxes__p
        プライバシーと利用規約
      %ul.footer__top-content__iregular-boxes__ul
        .footer__top-content__iregular-boxes__ul__wrap-lists
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            プライバシーポリシー
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            メルカリ利用規約
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            あんしんスマホサポート制度に関する利用規約
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            コンプライアンスポリシー
        .footer__top-content__iregular-boxes__ul_wrap-lists
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            個人データの安全管理に係る基本方針
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            特定商取引に関する表記
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            資金決済法に基づく表示
          %li.footer__top-content__iregular-boxes__ul__wrap-lists__content
            法令順守と犯罪抑止のために
    .footer__top-content__boxes
      %p.footer__top-content__boxes__p
        国
      %ul.footer__top-content__boxes__ul
        %li.footer__top-content__boxes__ul__lists
          日本
        %li.footer__top-content__boxes__ul__lists
          United&ensp;States
  .footer__bottom-content
    = image_tag 'logo_white.svg', alt: 'logo_white', height: '40', class: '.footer__bottom-content__logo'
    %h1.footer__bottom-content__h1
      Fmarket
    %p.footer__bottom-content__p
      &copy;&ensp;2019&ensp;Merkari