.items-display__wrap__title
  %h2.items-display__wrap__title__heading
    デュフフ新着アイテム
  %a.items-display__wrap__title__items-detail
    もっと見る&nbsp;&#62;
%ul.items-display__wrap__goods
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box
  %li.items-display__wrap__goods__box


