.items-nav
  %h2.items-nav__heading
    人気のデュフフ
  %ul.items-nav__lists
    %li.items-nav__lists__list
      Taniiwa
    %li.items-nav__lists__list
      Yoshinaga
    %li.items-nav__lists__list
      Iino
    %li.items-nav__lists__list
      Takahashi