.signup-footer
  %ul.signup-footer__links
    %li
      = link_to '#', class: 'terms' do
        プライバシーポリシー
    %li
      = link_to '#', class: 'terms' do
        エフマーケット利用規約
    %li
      = link_to '#', class: 'terms' do
        特定商取引に関する表記
  .signup-footer__logo
    = link_to image_tag('/logo_gray.svg', size: "90x90"), ""
    
  %p.signup-footer__down © 2019 Fmarket