= render 'view/header'
.default-container
  .bread-crumbs
    - breadcrumb :pay
    = breadcrumbs separator: " &rsaquo; "
  .l-container
    = render "shared/mypage_side_bar"
    .l-content
      .wrap
        %h2.wrap__title
          支払い方法
        .wrap__main
          %h2.wrap__main__heading
            クレジットカード一覧
          -# 下のbuttonタグにカスタムデータ属性{}を使って飛びたいリンク先を指定してください
          .wrap__main__wrap
            %button.wrap__main__wrap__button
              %i.fas.fa-address-card.wrap__main__wrap__button__icon
              %p.wrap__main__wrap__button__p
                クレジットカードを追加する
          -# 下のpタグにカスタムデータ属性{}を使って支払い方法についてのリンクを書いてください
          %p.wrap__main__p
            支払い方法について&ensp;&gt;
= render 'view/footer'