.default-container
  .bread-crumbs
  .l-container
    = render "shared/mypage_side_bar"
    .l-content
      // ここから自由に命名
      .wrap
        %h2.wrap__heading
          プロフィール
        %form.wrap__form
          .wrap__form__bg-image
            -# 下のiamge_tagの'logo_gray.svg'内にユーザーが指定した画像のURLを入れてください
            = image_tag 'profileIcon.jpg', alt: 'user-icon', height: '60px', width: '60px', class: 'wrap__form__bg-image__user-icon' 
            %input.wrap__form__bg-image__user-name{value: ""}
          .wrap__form__bottom-content
            %textarea.wrap__form__bottom-content__profile-sentence{row: "10", placeholder: "例)デュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフデュフフ"}
            %button.wrap__form__bottom-content__button
              変更する


