<<<<<<< Updated upstream

*{
  box-sizing: border-box;
=======
.first-signup-header {
  height: 120px;
  background-color: #f5f5f5;
  &__logo {
    font-family: 'arial black';
    line-height: 120px;
    text-align: center;
  }
>>>>>>> Stashed changes
}
.signup-header {
  height: 120px;
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  &__logo {
    font-family: 'arial black';
    text-align: left;
    display: inline-block;
    height: 100%;
    margin-top: 10px;
  }
}
.progress {
  padding: 40px 0 0 44px;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  &__bar {
    margin: 10px 0 0 0;
    li{
      margin: 0 40px 0 0;
      padding: 0;
      position: relative;
      z-index: 40;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: gray;
      .progress-status{
        position: absolute;
        left: 40%;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: gray;
        border-radius: 50%;
        z-index: 30;
      }
    }
  }
  .progress-status_bar {
    position: absolute;
    left: 50%;
    top: 25px;
    display: block;
    width: 130px;
    height: 2px;
    background: gray;
    z-index: 10;
    margin-top: 6px;
  }

  .end .progress-status_bar {
    width: 0px;
  }
  .payment .progress-status_bar {
    width: 100px;
  }
  // 作業中の点
  #through{
    color: #ea352d;
    .progress-status{
      background: #ea352d;
    }
  }
  #through .progress-status_bar{
      background: #ea352d;
  }
  #active{
    color: #ea352d;
    .progress-status{
      background: #ea352d;
    }
  }
}

.signup-main{
  background-color: #f5f5f5;
  .signup-contents {
    width:700px;
    margin: 0 auto;
    background-color: #fff;
    .signup-contents-no-account{
      padding-top: 40px;
      font-size: 14px;
      text-align: center;
      border: solid 1px #f5f5f5;
      .signup-contents-no-account-box{
        padding: 10px 0 40px;
        .signup-contents-no-account-box-inner{
          width: 50%;
          margin: 0 auto;
        &__btn{
          display: block;
          height: 50px;
          border-radius: 5px;
          font-size:13px;
          color:#fff;
          background-color: #0099E8;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          }
        }
      }
    }
    .signup-contents-message {
      padding: 40px;
      font-size:22px;
      text-align: center;
      border: solid 1px #f5f5f5;
    }
    .signup-contents-box{
      background-color: #fff;
      padding: 30px 0 30px;
      
      .signup-contents-box-inner{
        margin: 0 auto;
        width :50%;
        padding-bottom: 30px;
        &__btn{
          display: block;
          height: 50px;
          margin: 10px auto 0;
          border-radius: 5px;
          font-size:13px;
          color:#fff;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          &--icon{
            padding-right:10px;
          }
          &--red{
            background-color: #EA352D;
            margin: 0;
            width: 100%;
            height: 100%;
            color:#fff;
          }
          &--facebook{
            background-color: #385175;
          }
          &--google{
            background-color: #fff;
            color: black;
            box-sizing: border-box;
            border: solid 1px ;
          }
        }
        .signup-contents-box-inner-done{
          width: 100%;
          text-align: center;  
        }
        .signup-contents-box-inner-form{
          padding-top: 10px;
          margin-bottom: 40px;
          .help_center{
            float: right;
            text-decoration: none;
            color: #0099E8;
          }
        }
        &__field{
          margin-bottom: 20px;
          font-size: 14px;

          .red-mini{
            background-color: red;
            color: #fff;
            padding: 2px 4px;
            margin-left: 6px;
            border-radius: 3px;
          }
          .input-field{
            width: 100%;
            height: 50px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
            &--date{
              width: 30%;
              height: 50px;
              margin-top: 5px;
              border-radius: 5px;
              border: 1px solid #ccc;
              font-size: 16px;
            }
          }
          .help_center{
            float: right;
            text-decoration: none;
            color: #0099E8;
          }
        }
      }
    }
  }
}
.signup-bottom-image {
  padding-top: 200px;
  &__nav {
    background-image: url('/_1055-7262.jpg');
    text-align: center;
    width: 100%;
    display: flex;
    // &__logo {
    height: 300px;
    width: 100%;
    align-items: center;
    //   background: white;
    //   border-radius: 10px;
    //   position: relative;
    // }
    &__left{
      height: 40px;
      width: 150px;
      background: orange;
      border-radius: 10px;
      margin-left: 50px;
    }
    &__right{
      height: 40px;
      width: 150px;
      background: orange;
      border-radius: 10px;
      margin-left:50px ;
    }
  }
}
.signup-footer{
  background-color: #f5f5f5;
  height: 270px;
  padding-top: 30px;
  &__links{
    width: 500px;
    font-size:12px;
    text-align: center;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding-bottom: 30px;
    .terms{
      text-decoration: none;
      color: black;
    }
  }
  &__logo{
    text-align: center;
  }
  &__down{
    text-align: center;
    font-size: 8px;
  }
}
.tel_class{
  font-size:13px;
}