.signup-header {
  height: 120px;
  background-color: #f5f5f5;
  &__logo {
    font-family: 'arial black';
    line-height: 120px;
    text-align: center;
  }
}
.signup-main{
  background-color: #f5f5f5;
  .signup-contents {
    width:700px;
    margin: 0 auto;
    background-color: #fff;
    .signup-contents-no-account{
      padding-top: 40px;
      font-size: 14px;
      text-align: center;
      border: solid 1px #f5f5f5;
      .signup-contents-no-account-box{
        padding: 10px 0 40px;
        .signup-contents-no-account-box-inner{
          width: 50%;
          margin: 0 auto;
        &__btn{
          display: block;
          height: 50px;
          border-radius: 5px;
          font-size:13px;
          color:#fff;
          background-color: #0099E8;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          }
        }
      }
    }
    .signup-contents-message {
      padding: 40px;
      font-size:22px;
      text-align: center;
      border: solid 1px #f5f5f5;
    }
    .signup-contents-box{
      background-color: #fff;
      padding: 30px 0 30px;
      
      .signup-contents-box-inner{
        margin: 0 auto;
        width :50%;
        padding-bottom: 30px;
        &__btn{
          display: block;
          height: 50px;
          margin: 10px auto 0;
          border-radius: 5px;
          font-size:13px;
          color:#fff;
          text-decoration: none;
          text-align: center;
          line-height: 50px;
          &--icon{
            padding-right:10px;
          }
          &--red{
            background-color: #EA352D;
            margin: 0;
            width: 100%;
            height: 100%;
            color:#fff;
          }
          &--facebook{
            background-color: #385175;
          }
          &--google{
            background-color: #fff;
            color: black;
            box-sizing: border-box;
            border: solid 1px ;
          }
        }
        .signup-contents-box-inner-done{
          width: 100%;
          text-align: center;  
        }
        .signup-contents-box-inner-form{
          padding-top: 10px;
          margin-bottom: 40px;
          .help_center{
            float: right;
            text-decoration: none;
            color: #0099E8;
          }
        }
        &__field{
          margin-bottom: 20px;
          font-size: 14px;

          .red-mini{
            background-color: red;
            color: #fff;
            padding: 2px 4px;
            margin-left: 6px;
            border-radius: 3px;
          }
          .input-field{
            width: 100%;
            height: 50px;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
            &--date{
              width: 30%;
              height: 50px;
              margin-top: 5px;
              border-radius: 5px;
              border: 1px solid #ccc;
              font-size: 16px;
            }
          }
          .help_center{
            float: right;
            text-decoration: none;
            color: #0099E8;
          }
        }
      }
    }
  }
}
.bottom-image {
  padding-top: 200px;
  &__nav {
    display: flex;
    text-align: center;
    width: 100%;
    position: relative;
    &__logo {
      height: 300px;
      width: 100%;
      background: white;
      border-radius: 10px;
    }
    &__left{
      margin: 150px 0 0 100px;
      height: 40px;
      width: 150px;
      background: orange;
      border-radius: 10px;
      position: absolute;
    }
    &__right{
      margin-left: 150px 0 0 300px;
      height: 40px;
      width: 150px;
      background: orange;
      border-radius: 10px;
      position: absolute;
    }
  }
}
.signup-footer{
  background-color: #f5f5f5;
  height: 270px;
  padding-top: 30px;
  &__links{
    width: 500px;
    font-size:12px;
    text-align: center;
    display: flex;
    justify-content:space-around;
    margin: 0 auto;
    padding-bottom: 30px;
    .terms{
      text-decoration: none;
      color: black;
    }
  }
  &__logo{
    text-align: center;
  }
  &__down{
    text-align: center;
    font-size: 8px;
  }
}
.tel_class{
  font-size:13px;
}