= render 'view/header'
= link_to new_item_path, class: "item-exhibit" do
  .item-exhibit__wrap
    %h2.item-exhibit__wrap__heading
      出品
    -# = fa_icon 'camera', class: 'item-exhibit__wrap__icon'
    .fas.fa-camera.item-exhibit__wrap__icon


%main
  = render "view/main"
= render 'view/footer'
-# %footer
-#   = render "footer"